<!doctype html>
<style>
	.link-wrap {
		margin-top: 10px;
	}
	#logout-wrap {
		float: right;
	}
</style>

<div id="includedHeader"></div>


<div class="container" ng-controller="BackendMainCtrl">
	<div class="link-wrap">
		<a href="/" ui-sref="anx">推廣中心首頁</a>
		<span ng-show="{{isLogin}}">
			<span>&nbsp;&nbsp;-&nbsp;&nbsp;</span>
			<a href="/backend/course" ui-sref="backend.course">課程管理</a>
			<span>&nbsp;&nbsp;-&nbsp;&nbsp;</span>
			<a href="/backend/news" ui-sref="backend.news">公告管理</a>
			<span>&nbsp;&nbsp;-&nbsp;&nbsp;</span>
			<a href="/backend/pages" ui-sref="backend.pages">其他頁面管理</a>
		</span>
		<!-- <a href="/backend/login" ui-sref="backend.login" ng-hide="{{isLogin}}">登入</a> -->
		<div id="logout-wrap">
			<span>{{userinfo}} &nbsp;</span>
			<button class="btn btn-default" ng-show="{{isLogin}}" ng-click="logout()">登出</button>	
		</div>
	</div>
	<hr>
	<div ui-view></div>
</div>


<script>
	$(function(){
		$("#includedHeader").load("views/backend-header.html");
	});
</script>