<div class="col-md-4" ng-controller="LoginCtrl">
	<div class="alert alert-warning" role="alert" ng-show="msg">{{msg}}</div>
	<p>測試帳號: <span>robin</span></p>
	<p>　　密碼: <span>robin</span></p>
	<br>
	<form>
	  <div class="form-group">
	    <label for="inputAccount">Account</label>
	    <input type="text" class="form-control" id="inputAccount" placeholder="Account" ng-model="user.name">
	  </div>
	  <div class="form-group">
	    <label for="inputPassword">Password</label>
	    <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="user.password">
	  </div>
	  <button type="submit" class="btn btn-default" ng-click="login()">登入</button>
	</form>

</div>