<!-- <h4>{{userinfo}}</h4> -->
<div ng-controller="BECourseCtrl">
	<button class="btn btn-default" ng-click="goAdd()">
		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 新增課程
	</button>
	<br>
	<div class="col-md-3">
		<h3>課程單位</h3>
		<div class="list-group">
			<a ng-repeat="cat in categoryList" href="" class="list-group-item" ng-click="showCourse(cat.abbr)">
				{{cat.name}}
				<span class="badge">{{cat.course.length}}</span>
			</a>
		</div>
	</div>
	<div class="col-md-9">
		<h3>{{currentCategory.name}}</h3>
		<div class="panel panel-default">
		  <!-- Table -->
		  <table class="table table-striped table-hover">
		  	<thead>
		  		<tr>
		  			<th>
							<a href="#" ng-click="sortType = 'area.name'; sortReverse = !sortReverse">地區</a>
		  				<span class="glyphicon glyphicon-chevron-down" aria-hidden="true" ng-show="sortType == 'area.name' && !sortReverse"></span>
							<span class="glyphicon glyphicon-chevron-up" aria-hidden="true" ng-show="sortType == 'area.name' && sortReverse"></span>
		  			</th>
		  			<th>
		  				<a href="#" ng-click="sortType = 'no'; sortReverse = !sortReverse">計劃案編號</a>
		  				<span class="glyphicon glyphicon-chevron-down" aria-hidden="true" ng-show="sortType == 'no' && !sortReverse"></span>
							<span class="glyphicon glyphicon-chevron-up" aria-hidden="true" ng-show="sortType == 'no' && sortReverse"></span>
		  			</th>
		  			<th>
		  				<a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">課程名稱</a>
		  				<span class="glyphicon glyphicon-chevron-down" aria-hidden="true" ng-show="sortType == 'name' && !sortReverse"></span>
							<span class="glyphicon glyphicon-chevron-up" aria-hidden="true" ng-show="sortType == 'name' && sortReverse"></span>
						</th>
		  			<th>
		  				<a href="#" ng-click="sortType = 'startdate'; sortReverse = !sortReverse">開始日期</a>
		  				<span class="glyphicon glyphicon-chevron-down" aria-hidden="true" ng-show="sortType == 'startdate' && !sortReverse"></span>
							<span class="glyphicon glyphicon-chevron-up" aria-hidden="true" ng-show="sortType == 'startdate' && sortReverse"></span>
						</th>
		  			<th>
		  				<a href="#" ng-click="sortType = 'enddate'; sortReverse = !sortReverse">結束日期</a>
		  				<span class="glyphicon glyphicon-chevron-down" aria-hidden="true" ng-show="sortType == 'enddate' && !sortReverse"></span>
							<span class="glyphicon glyphicon-chevron-up" aria-hidden="true" ng-show="sortType == 'enddate' && sortReverse"></span>
						</th>
		  			<th>
							<a href="#" ng-click="sortType = 'confirmdate'; sortReverse = !sortReverse">開課確認日期</a>
		  				<span class="glyphicon glyphicon-chevron-down" aria-hidden="true" ng-show="sortType == 'confirmdate' && !sortReverse"></span>
							<span class="glyphicon glyphicon-chevron-up" aria-hidden="true" ng-show="sortType == 'confirmdate' && sortReverse"></span>
		  			</th>
		  			<th>options</th>
		  		</tr>
		  	</thead>
		  	<tbody>
		  		<tr ng-if="course.category.abbr==currentCategory.abbr" ng-repeat="course in courses | orderBy:sortType:sortReverse" id="{{course._id}}">
		  			<td><span class="label label-primary">{{course.area.name}}</span></td>
		  			<td>{{course.no}}</td>
		  			<td><a href="/backend/course/{{course._id}}">{{course.name}}</a></td>
		  			<td>{{course.startdate}}</td>
		  			<td>{{course.enddate}}</td>
		  			<td>{{course.confirmdate}}</td>
		  			<td>
		  				<button class="btn btn-warning" ng-click="goEdit()">Edit</button>
		  				<button class="btn btn-danger" ng-click="delete()">Delete</button>
		  			</td>
		  		</tr>
		  	</tbody>
		  </table>
		</div>
	</div>
</div>
