<!doctype html>

<!-- <div id="includedNav"></div> -->



<div class="container" style="min-height:500px;">
	<div ng-controller="CourseCtrl">
		<div class="col-md-3">
			<h3>課程單位</h3>
			<div class="list-group">
				<a ng-repeat="cat in categoryList" href="" class="list-group-item" ng-click="showCourse(cat.abbr)">
					{{cat.name}}
					<span class="badge">{{cat.course.length}}</span>
				</a>
			</div>
		</div>
		<div class="col-md-9">
			<h3>{{currentCategory.name}} &nbsp;</h3>
			<div class="panel panel-default">
			  <!-- Table -->
			  <table class="table table-striped table-hover">
			  	<thead>
			  		<tr>
			  			<th>地區</th>
			  			<th>課程名稱</th>
			  			<th>開始日期</th>
			  			<th>結束日期</th>
			  			<th>開課確認日期</th>
			  		</tr>
			  	</thead>
			  	<tbody>
			  		<tr ng-if="course.category.abbr==currentCategory.abbr" ng-repeat="course in courses" id="{{course._id}}">
			  			<td><span class="label label-primary">{{course.area.name}}</span></td>
			  			<td><a href="/course/{{course._id}}">{{course.name}}</a></td>
			  			<td>{{course.startdate}}</td>
			  			<td>{{course.enddate}}</td>
			  			<td>{{course.confirmdate}}</td>
			  		</tr>
			  	</tbody>
			  </table>
			</div>
		</div>
	</div>

</div>


<!-- <div id="includedFooter"></div> -->

<script>
	$(function(){
	  $("#includedNav").load("views/nav.html");
	  $("#includedFooter").load("views/footer.html");
	});
</script>