<style>
	.field-name {
		text-align: right;
		font-weight: bold;
	}
	.panel-heading {
		text-align: center;
	}
	.table th, .table td {
		border-top: none !important;
	}
</style>

<div class="container" style="min-height:600px;">
  <div class="panel panel-default panel-main">
	<div class="panel-body">
	  <div class="col-md-3">
		<h3>課程單位 <span class="label label-success">雲科大</span></h3>
		<div class="list-group">
			<a ng-repeat="cat in categoryList | filter:{class:classes[0]} | filter:{show:true}" href="" class="list-group-item" ng-click="showCourse()" ng-class="{'catActive': currentCategory.deptName == cat.deptName}">
				{{cat.deptName}}
				<span class="badge">{{cat.shownCourseCount}}</span>
			</a>
		</div>
		<h3>課程單位 <span class="label label-primary">政府單位</span></h3>
		<div class="list-group">
			<a ng-repeat="cat in categoryList | filter:{class:classes[1]}" href="" class="list-group-item" ng-click="showCourse(cat.deptCode)" ng-class="{'catActive': currentCategory.deptName == cat.deptName}">
				{{cat.deptName}}
				<span class="badge">{{cat.course.length}}</span>
			</a>
		</div>
	  </div>
	  <div class="col-md-9">
		<h3>{{course.category.deptName}} － {{course.name}}</h3>
	  <div class="panel panel-default">
		<div class="panel-heading">課程資料</div>
			<div class="panel-body">
				<table class="table">
					<tbody>
						<tr>
							<td width="130"><b>課號：</b></td>
							<td width="266">{{course.fullNo}}</td>
							<td width="130"><b>課程起始日期：</b></td>
							<td width="267">{{course.startDate}}</td>
						</tr>
						<tr>
							<td><b>課程名稱：</b></td>
							<td>{{course.name}}</td>
							<td><b>課程結束日期：</b></td>
							<td>{{course.endDate}}</td>
						</tr>
						<tr>
							<td><b>開課單位：</b></td>
							<td>{{course.category.deptName}}</td>
							<td><b>開始時間：</b></td>
							<td>{{course.startTime}}</td>
						</tr>
						<tr>
							<td><b>上課地點：</b></td>
							<td>{{course.location}}</td>
							<td><b>結束時間：</b></td>
							<td>{{course.endTime}}</td>
						</tr>
						<tr>
							<td><b>課程原價：</b></td>
							<td>{{course.price}}</td>
							<td><b>開課確認日期：</b></td>
							<td>{{course.confirmDate}}</td>
						</tr>
						<tr>
							<td><b>招生對象：</b></td>
							<td>{{course.enrollTarget}}</td>
							<td><b>報名截止日：</b></td>
							<td>{{course.enrollDueDate}}</td>
						</tr>
						<tr>
							<td><b>是否包含午餐：</b></td>
							<td>{{course.launchOffer}}</td>
							<td><b>報名人數限制：</b></td>
							<td>{{course.maxEnroll}}</td>
						</tr>
						<tr>
							<td><b>諮詢專線：</b></td>
							<td class="pre-content">{{course.helpline}}</td>
							<td><b>課程狀態：</b></td>
							<td>{{course.state}}</td>
						</tr>
						<tr>
							<td><b>備註：</b></td>
							<td colspan="3"><pre ng-bind-html="course.remark"></pre></td>
						</tr>
						<tr>
							<td><b>更多資訊：</b></td>
							<td colspan="3" ng-bind-html="course.moreInfo"></td>
						</tr>
						<tr>
							<td><b>報名連結：</b></td>
							<td colspan="3">
								<a href="{{course.enrollLink}}" target="_blank">{{course.enrollLink}}</a>
							</td>
						</tr>
					</tbody>
				</table>
				<br>
				<br>
			</div>
		</div>
	  </div>
	</div>
  </div>
</div>
