<div class="footer">
	<div class="container">
		<div class="col-md-1"></div>
		<div class="col-md-2">
			<p class="footer-title">中心介紹</p>
			<p><a href="">中心簡介</a></p>
			<p><a href="">業務職掌</a></p>
			<!-- <p><a href="">相關法規</a></p>
			<p><a href="">訓練政策</a></p> -->
		</div>
		<div class="col-md-2">
			<p class="footer-title">TTQS專區</p>
			<!-- <p><a href="">目標與政策</a></p>
			<p><a href="">計畫</a></p>
			<p><a href="">設計</a></p>
			<p><a href="">執行</a></p>
			<p><a href="">查核</a></p>
			<p><a href="">成果</a></p>
			<p><a href="">訓練品質手冊</a></p> -->
		</div>
		<div class="col-md-2">
			<p class="footer-title">相關網站</p>
			<p><a href="http://www.yuntech.edu.tw/" target="_blank">國立雲林科技大學</a></p>
			<p><a href="https://www.facebook.com/yuntechtcx" target="_blank">推廣教育中心臉書專頁</a></p>
		</div>
		<div class="col-md-4">
			<p class="footer-title">聯絡我們</p>
			<p>64002 雲林縣斗六市大學路3段123號</p>
			<p>Tel: 05-534-2601 #2281~#2284</p>
			<p>Fax: 05-5312037</p>
			<p>E-mail: anx@yuntech.edu.tw</p>
		</div>
		<div class="col-md-1"></div>
	</div>
</div>