<nav class="navbar navbar-default">
	<div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/" ui-sref="anx">Anx</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/course" ui-sref="course">課程資訊</a></li>
        <li><a href="/news" ui-sref="news">消息公告</a></li>
        <li><a href="/backend/course" ui-sref="backend.course">管理後台</a></li>
        <!-- <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li> -->
      </ul>
    </div>
  </div>
</nav>