<!doctype html>


<div class="container" style="min-height:500px;">
	<div ng-controller="NewsCtrl">
		<div class="col-md-3">
			<h3>公告類別</h3>
			<div class="list-group">
				<a ng-repeat="cat in categoryList" href="" class="list-group-item" ng-click="showNews(cat._id)">
					{{cat.name}}
					<span class="badge">{{cat.news.length}}</span>
				</a>
			</div>
		</div>
		<div class="col-md-9">
			<h3>{{currentCategory.name}}&nbsp;</h3>
			<div class="panel panel-default">
			  <!-- Table -->
			  <table class="table table-striped table-hover">
			  	<thead>
			  		<tr>
			  			<th>類別</th>
			  			<th>標題</th>
			  			<th>開始日期</th>
			  			<th>結束日期</th>
			  		</tr>
			  	</thead>
			  	<tbody>
			  		<tr ng-if="news.category._id==currentCategory._id" ng-repeat="news in newsList" id="{{news._id}}">
			  			<td><span class="label label-primary">{{news.category.name}}</span></td>
			  			<td><a href="/backend/news/{{news._id}}">{{news.title}}</a></td>
			  			<td>{{news.startdate}}</td>
			  			<td>{{news.enddate}}</td>
			  		</tr>
			  	</tbody>
			  </table>
			</div>
		</div>
	</div>

</div>
