<div class="text-center" ng-show="paginator.pageCount() > 1">
    <ul class="pagination">
        <li ng-click="paginator.firstPage()" ng-class="paginator.isFirstPage() && 'disabled'">
            <a aria-label="Previous" ng-class="paginator.isFirstPage() && 'icon-white'"><span class="glyphicon glyphicon-fast-backward" aria-hidden="true"></span></a>
        </li>
        <li ng-click="paginator.perviousPage()" ng-class="paginator.isFirstPage() && 'disabled'">
            <a aria-label="Previous" ng-class="paginator.isFirstPage() && 'icon-white'"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></a>
        </li>
        <li ng-click="paginator.setPage(i)" ng-repeat="i in [] | forLoop:paginator.lowerLimit():paginator.pageCount() | limitTo : paginator.limitPerPage" ng-class="paginator.page==i && 'active'"> 
            <a>{{i+1}}</a> 
        </li>
        <li ng-click="paginator.nextPage()" ng-class="paginator.isLastPage() && 'disabled'">
            <a><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></a>
        </li>
        <li ng-click="paginator.lastPage()" ng-class="paginator.isLastPage() && 'disabled'">
            <a><span class="glyphicon glyphicon-fast-forward" aria-hidden="true"></span></a>
        </li>
    </ul>
</div>