#IS1 {
  height: 420px;
  background-image: url("../image/banner/banner1.jpg");
  background-size: cover;
  background-position: 50% 50%;
}
#IS2 {
  height: 420px;
  background-image: url("../image/banner/banner2.jpg");
  background-size: cover;
  background-position: 50% 50%;
}
#IS3 {
  height: 420px;
  background-image: url("../image/banner/banner3.jpg");
  background-size: cover;
  background-position: 50% 50%;
}
#IS4 {
  height: 420px;
  background-image: url("../image/banner/banner4.jpg");
  background-size: cover;
  background-position: 50% 50%;
}
#IS5 {
  height: 420px;
  background-image: url("../image/banner/banner5.jpg");
  background-size: cover;
  background-position: 50% 50%;
}
#IS6 {
  height: 420px;
  background-image: url("../image/banner/banner6.jpg");
  background-size: cover;
  background-position: 50% 50%;
}
.carousel-indicators {
  bottom: 10px;
}
.carousel-control.left {
  background-image:-webkit-linear-gradient(left, rgba(0,0,0,.3) 0%, rgba(0,0,0,.0001) 100%);
  background-image:-o-linear-gradient(left, rgba(0,0,0,.3) 0%, rgba(0,0,0,.0001) 100%);
  background-image:linear-gradient(to right, rgba(0,0,0,.3) 0%, rgba(0,0,0,.0001) 100%);
}
.carousel-control.right {
  right:0;
  left:auto;
  background-image:-webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.3) 100%);
  background-image:-o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.3) 100%);
  background-image:-webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.3)));
  background-image:linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.3) 100%);
}
.carousel-control:hover {
	opacity: 0.7;
}