<style>
	.list-group-item {
		overflow: auto;
	}
	.my-list-item {
		position: relative;
		display: block;
		padding: 10px 15px;
		background-color: #fff;
		border: 1px solid #ddd;
		border-radius: 4px;
		margin-bottom: 10px;
		cursor: pointer;
	}
</style>
<div ng-controller="BECourseCtrl">
	<!-- start of Course Managing Section -->
	<div ng-show="showCourseManageSection">
		<button class="btn btn-default" ng-click="goAdd()">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 新增課程
		</button>
		<br>
		
		<div class="col-md-3">
			<h3>
				課程單位
				<button class="btn btn-default btn-xs" ng-click="switchManageMode('category')">
					<span class="glyphicon glyphicon-cog" aria-hidden="true"></span> 單位管理
				</button>
			</h3>
			<div class="list-group">
				<a ng-repeat="cat in categoryList | filter:{course:'!!'}" href="" class="list-group-item" ng-click="showCourse()">
					<span ng-if="!cat.show" class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
					{{cat.deptName}}
					<span class="badge">{{cat.course.length}}</span>
				</a>
			</div>
			<h3>
				課程分類
				<button class="btn btn-default btn-xs" ng-click="switchManageMode('subcategory')">
					<span class="glyphicon glyphicon-cog" aria-hidden="true"></span> 分類管理
				</button>
			</h3>
			<div class="list-group">
				<a ng-repeat="subcat in subcategoryList" href="" class="list-group-item" ng-click="subcategoryClick(subcat.name)">
					{{subcat.name}}
					<span class="badge">{{subcat.courseCount}}</span>
				</a>
			</div>
		</div>

		<div class="col-md-9">
			<h3>{{currentCategory.deptName || currentSubcategory}}</h3>
			<!-- search bar -->
			<div class="input-group">
				<span class="input-group-addon" id="sizing-addon1">
					<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
				</span>
				<input type="text" class="form-control" placeholder="搜尋課程" aria-describedby="sizing-addon1" ng-model="searchFish">
			</div>
			<br>
			<div class="panel panel-default">
			  <!-- Table -->
			  <table class="table table-striped table-hover">
			  	<thead>
			  		<tr>
			  			<th>
							<a href="#" ng-click="sortType = 'area'; sortReverse = !sortReverse">地區</a>
			  				<span class="glyphicon glyphicon-chevron-down" aria-hidden="true" ng-show="sortType == 'area' && !sortReverse"></span>
							<span class="glyphicon glyphicon-chevron-up" aria-hidden="true" ng-show="sortType == 'area' && sortReverse"></span>
			  			</th>
			  			<th>
			  				<a href="#" ng-click="sortType = 'no'; sortReverse = !sortReverse">課號</a>
			  				<span class="glyphicon glyphicon-chevron-down" aria-hidden="true" ng-show="sortType == 'no' && !sortReverse"></span>
							<span class="glyphicon glyphicon-chevron-up" aria-hidden="true" ng-show="sortType == 'no' && sortReverse"></span>
			  			</th>
			  			<th>課程資訊</th>
			  			<th>
							<a href="#" class="text-nowrap" ng-click="sortType = 'confirmDate'; sortReverse = !sortReverse">開課確認日期</a>
			  				<span class="glyphicon glyphicon-chevron-down" aria-hidden="true" ng-show="sortType == 'confirmdate' && !sortReverse"></span>
							<span class="glyphicon glyphicon-chevron-up" aria-hidden="true" ng-show="sortType == 'confirmdate' && sortReverse"></span>
			  			</th>
			  			<th>課程狀態</th>
			  			<th>選項</th>
			  			<th>推薦</th>
			  			<th>顯示</th>
			  		</tr>
			  	</thead>
			  	<tbody>
			  		<tr ng-repeat="course in courses | orderBy:sortType:sortReverse | filter:searchFish | filter:{category:{deptCode: currentCategory.deptCode}} | filter:{subcategory: currentSubcategory}" id="{{course._id}}">
			  			<td><span class="label label-primary">{{course.area}}</span></td>
			  			<td class="text-nowrap">{{course.fullNo}}</td>
			  			<td>
			  				<a href="/backend/course/{{course._id}}">{{course.name}}</a>
			  				<div class="text-nowrap">
			  					{{course.startDate}} - {{course.endDate}}
			  				</div>
			  			</td>

			  			<td>{{course.confirmDate}}</td>
			  			<td>
			  				<select class="form-control" ng-model="course.state" ng-change="stateChanged()">
								<option ng-repeat="state in courseStateList" value="{{state}}">{{state}}</option>
							</select>
			  			</td>
			  			<td class="text-nowrap">
			  				<button class="btn btn-warning btn-sm" ng-click="goEdit()">編輯</button>
			  				<button class="btn btn-danger btn-sm" ng-click="delete()">刪除</button>
			  			</td>
			  			<td>
			  				<select class="form-control" ng-options="option.value as option.text for option in coursePinTopList" ng-model="course.pinTop" ng-change="pinTopChanged()"></select>
			  			</td>
			  			<td>
			  				<select class="form-control" ng-options="option.value as option.text for option in courseShowList" ng-model="course.show" ng-change="showChanged()"></select>
			  			</td>
			  		</tr>
			  	</tbody>
			  </table>
			</div>
		</div>
	</div><!-- end of Course Managing Section -->


	<!-- start of Course Category Managing Section -->
	<div ng-show="showCategoryManageSection">
		<div class="row">
			<div class="col-md-2">
				<button class="btn btn-default" ng-click="switchManageMode('course')">
					<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> 回課程管理
				</button>
			</div>
			<div class="col-md-3">
				<h3>課程單位</h3>
				<div class="list-group">
					<a ng-repeat="cat in categoryList" href="" class="list-group-item" ng-click="showCategoryData()">
						<span ng-if="!cat.show" class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
						{{cat.deptName}}
						<span class="badge">{{cat.course.length}}</span>
					</a>
				</div>
<!-- 				<h3>課程單位 <span class="label label-primary">政府單位</span></h3>
				<div class="list-group">
					<a ng-repeat="cat in categoryList | filter:{class:classes[1]}" href="" class="list-group-item" ng-click="showCategoryData()">
						{{cat.deptName}}
						<span class="badge">{{cat.course.length}}</span>
					</a>
				</div> -->
			</div>
			<div class="col-md-5">
				<h3>&nbsp;</h3>
				<div class="panel" id="categoryPanel">
				  <div class="panel-heading">{{panelTitle}}</div>
					  <div class="panel-body">
					    <form class="form-horizontal" role="form" name="someForm">
					      <!-- <div class="form-group">
					      	<label class="control-label col-md-3" for="class">類別</label>
					      	<div class="col-md-5">
					      	  <select class="form-control" id="class" ng-model="categoryFormData.class">
					      	    <option ng-repeat="class in classes" value="{{class}}">{{class}}</option>
					      	  </select>
					      	</div>
					      </div> -->
							  <div class="form-group">
									<label class="control-label col-md-3" for="category">單位名稱</label>
									<div class="col-md-8">
									  <input type="text" class="form-control" id="deptName" name="deptName" placeholder="" ng-model="categoryFormData.deptName" required>
									  <span class="unvalid-alert" ng-hide="someForm.deptName.$valid">必填欄位</span>
									</div>
						  	</div>
							  <div class="form-group">
									<label class="control-label col-md-3" for="category">單位縮寫</label>
									<div class="col-md-8">
									  <input type="text" class="form-control" id="deptCode" name="deptCode" placeholder="" ng-model="categoryFormData.deptCode" ng-pattern="/^[A-Za-z][A-Za-z]*$/" required>
									  <span class="unvalid-alert" ng-hide="someForm.deptCode.$valid">必填欄位，限英文字</span>
									</div>
						  	</div>
							  <div class="form-group">
							  	<label class="control-label col-md-3" for="category">顯示狀態</label>
							  	<div class="col-md-8">
							  	  <div class="input-group">
							      	<label class="radio-inline">
							      	  <input type="radio" name="show_radio" value="true" ng-model="categoryFormData.show"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
							      	</label>
							      	<label class="radio-inline">
							      	  <input type="radio" name="show_radio" value="false" ng-model="categoryFormData.show"><span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
							      	</label>
							  	  </div>
									</div>
						  	</div>
							  <div class="form-group">
							  	<div class="col-md-offset-3 col-md-9">
							  	  <button class="btn btn-info" ng-show="showAddCategoryBtn" ng-disabled="!someForm.$valid" ng-click="addCategory()">新增</button>
							  	  <button class="btn btn-warning" ng-show="showEditCategoryBtn" ng-disabled="!someForm.$valid" ng-click="saveCategory()">儲存</button>
							  	  <button class="btn btn-default" ng-click="cancel()">取消</button>
							  	</div>
							  </div>
							</form>
						</div>
					</div>
				</div>
			<div class="col-md-2"></div>
		</div><!-- end of row -->
	</div><!-- end of Course Category Managing Section -->
	

	<!-- start of Course Subcategory Managing Section -->
	<div ng-show="showSubcategoryManageSection">
		<div class="row">
			<div class="col-md-2">
				<button class="btn btn-default" ng-click="switchManageMode('course')">
					<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> 回課程管理
				</button>
			</div>
			<div class="col-md-3">
				<h3>課程分類</h3>
				<div ng-model="subcategoryList">
					<div class="my-list-item" ng-repeat="subcat in subcategoryList">
						<span editable-text="subcat.name" buttons="no" e-form="textForm" onaftersave="saveSubcategoryName($data)">{{subcat.name || 'empty'}}</span>
						<button class="pull-right btn btn-default btn-xs" ng-click="removeSubcategory()">
							<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
						</button>
						<button class="pull-right btn btn-default btn-xs" ng-hide="textForm.$visible" ng-click="textForm.$show()">
							<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
						</button>
					</div>
				</div>

				<button class="btn btn-default btn-sm" ng-hide="addSubcategoryFormVisible" ng-click="showAddSubcategoryForm($data)">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 新增
				</button>

				<form role="form" name="parentForm" ng-show="addSubcategoryFormVisible">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="輸入分類名稱" name="newParent" ng-model="subcategoryName" required>
						<span class="input-group-btn">
							<button class="btn btn-default" type="button" ng-disabled="!parentForm.$valid" ng-click="addSubcategory()">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 新增
							</button>
						</span>
					</div>
				</form>
			</div>
			<div class="col-md-7"></div>
		</div>
	</div><!-- end of row -->
</div><!-- end of Course Subcategory Managing Section -->