<link rel="stylesheet" type="text/css" href="./css/anx.image.slider.css">
<style>
	#myCarousel {
		border: 1px solid #e7e7e7;
		border-radius: 4px;
	}
	#panel-home-body {
		background-color: #fff;
		border: 2px solid #DCF0EF;
		border-radius: 10px;
		padding: 15px;
		margin-bottom: 20px;
	}
	#panel-news {
		border-color: #F49B7E;
	}
	#news-table {
		margin-top: 5px;
		/*border: 2px solid #F49B7E;*/
		border-top: 2px solid #F49B7E;
		border-bottom: 2px solid #F49B7E;
	}
	#more-news-link {
		text-decoration: none;
		background-color: #F46849;
		padding: 5px 10px;
		color: #fff;
		border-radius: 4px;
	}

	#pop-course-title {
		display: block;
		padding-top: 7px;
		background-color: #55BEA6;
		border-radius: 4px;
		width: 180px;
		height: 42px;
		font-size: 20px;
		text-align: center;
		color: #fff;
	}
	#popular-course-table {
		margin-top: 5px;
		/*border-right: 2px solid #55BEA6;*/
	}
	#popular-course-table th:first-child {
		border: 0px;
		/*border-right: 2px solid #55BEA6;*/
		padding: 0px 5px 0px 0px;
	}
	#popular-course-table th:not(:first-child) {
		border-top: 2px solid #55BEA6;
	}
	#popular-course-table tr:last-child {
		/*border-left: 2px solid #55BEA6;*/
		border-bottom: 2px solid #55BEA6;
	}

	#more-pop-course-link {
		text-decoration: none;
		background-color: #55BEA6;
		padding: 5px 10px;
		color: #fff;
		border-radius: 4px;
	}
	#pin-course-title {
		display: block;
		padding-top: 7px;
		background-color: #A3BC55;
		border-radius: 4px;
		width: 180px;
		height: 42px;
		font-size: 20px;
		text-align: center;
		color: #fff;
	}
	#pin-course-table {
		margin-top: 5px;
		/*border-top: 2px solid #A3BC55;*/
		/*border-bottom: 2px solid #A3BC55;*/
	}
	#pin-course-table th:first-child {
		border: 0px;
		/*border-right: 2px solid #A3BC55;*/
		padding: 0px 4px 0px 0px;
	}
	#pin-course-table th:not(:first-child) {
		border-top: 2px solid #A3BC55;
	}
	#pin-course-table tr:last-child {
		/*border-left: 2px solid #A3BC55;*/
		border-bottom: 2px solid #A3BC55;
	}
	#more-pin-course-link {
		text-decoration: none;
		background-color: #A3BC55;
		padding: 5px 10px;
		color: #fff;
		border-radius: 4px;
	}
	/*#A3BC55*/
</style>

<div class="container">
	<!-- image slider -->
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner" role="listbox">
			<div id="IS1" class="banner-img item active"></div>
			<div id="IS2" class="banner-img item"></div>
			<div id="IS3" class="banner-img item"></div>
			<div id="IS4" class="banner-img item"></div>
			<div id="IS5" class="banner-img item"></div>
			<div id="IS6" class="banner-img item"></div>
			<div id="IS7" class="banner-img item"></div>
			<div id="IS8" class="banner-img item"></div>
			<div id="IS9" class="banner-img item"></div>
			<div id="IS10" class="banner-img item"></div>
		</div>
		<!-- <a class="left carousel-control" data-target="#myCarousel" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" data-target="#myCarousel" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a> -->
	</div><!-- end of image slider -->

	<div style="height: 20px;"></div>

	<div id="panel-home-body">
		<div ng-controller="HomeCtrl">
			<div class="row">
				<div class="col-md-6">
					<img src="/image/最新消息.png" alt="">
					<table class="table" id="news-table">
						<tbody>
							<tr>
								<th>類別</th>
								<th>標題</th>
								<th class="text-right">公告日期</th>
							</tr>
							<tr ng-repeat="news in newsList">
								<td>
									<span class="label label-danger">{{news.category.name}}</span>
								</td>
								<td><a href="/news/{{news._id}}">{{news.title}}</a></td>
								<td class="text-right pre-content">{{news.createdate.substring(0,10)}}</td>
							</tr>
							<tr>
								<td colspan="3" class="text-right"><a href="/news" id="more-news-link">更多消息</a></td>
							</tr>
						</tbody>
					</table>

					<p></p>

					<img src="/image/課程分類.png" alt="">
					<table class="table" id="news-table">
						<tbody>
							<tr ng-repeat="row in subcategoryList" style="font-size:16px;">
								<td ng-repeat="subcat in row">
							  	<span ng-if="{subcat=={}}">
							  		<a href="">{{subcat.name}}</a>
							  		<span>({{subcat.courseCount}})</span>
							  		&nbsp;
							  	</span>
								</td>
							</tr>
						</tbody>
					</table>
					<img src="/image/demo.png" alt="" width="100%">
					<hr>
					<div class="">
						<a href="https://webapp.yuntech.edu.tw/CRISWeb/Account/Login?ReturnUrl=%2fCRISWeb%2fHome%2f" target="_blank">
							<img src="/image/青年就業讚.png" alt="" width="33%">
						</a>
					</div>
				</div>

				<div class="col-md-6">
					<table class="table" id="popular-course-table">
						<tbody>
							<tr>
								<th rowspan="9">
									<img src="/image/熱門課程.png" alt="">
								</th>
								<th class="pre-content">地區</th>
								<th class="pre-content">課程名稱</th>
								<th class="pre-content">開課單位</th>
							</tr>
							<tr ng-repeat="course in popularCourses">
								<td>
									<span class="label label-primary">{{course.area}}</span>
								</td>
								<td>
									<span class="label label-success" ng-show="course.state=='開課'">確定開課</span>
									<a href="/course/{{course.category.deptCode}}/{{course._id}}">{{course.name}}</a><br>
									<span class="pre-content date-text">上課日期：{{course.startDate.substring(0,10)}} ~ {{course.endDate.substring(0,10)}}</span>
								</td>
								<td>
									<span class="pre-content">{{course.category.deptName}}</span>
								</td>
							</tr>
							<tr>
								<td colspan="4" class="text-right">
									<a href="/course" id="more-pop-course-link">更多課程資訊</a>
								</td>
							</tr>
						</tbody>
					</table>
					
					<p></p>
					<table class="table" id="pin-course-table">
						<tbody>
							<tr>
								<th rowspan="9">
									<img src="/image/推薦課程.png" alt="">
								</th>
								<th class="pre-content">地區</th>
								<th class="pre-content">課程名稱</th>
								<th class="pre-content">開課單位</th>
							</tr>
							<tr ng-repeat="course in pinTopCourses">
								<td><span class="label label-primary">{{course.area}}</span></td>
								<td>
									<span class="label label-success" ng-show="course.state=='開課'">確定開課</span>
									<a href="/course/{{course._id}}">{{course.name}}</a><br>
									<span class="pre-content date-text">上課日期：{{course.startDate.substring(0,10)}} ~ {{course.endDate.substring(0,10)}}</span>
								</td>
								<td>
									<span class="pre-content">{{course.category.deptName}}</span>
								</td>
							</tr>
							<tr>
								<td colspan="4" class="text-right">
									<a href="/course" id="more-pin-course-link">更多課程資訊</a>	
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<br>
		</div>
			
	</div>

</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('.carousel').carousel({
      interval: 4000
    })
  });
</script>